{% for profile in profiles %}
        <article class="user">
        <a href="{{ path('message_contact',{'username': profile.username }) }}">
            <aside class="user__infos">
                {% if profile.filename %}
                    <img src={{ vich_uploader_asset(profile, 'imageFile')}} alt="image de profil {{ profile.username }}" class="user__info__picture">
                {% else %}
                    <img src="{{ asset('images/profil.jpeg') }}" alt="image de profil vide" class="user__info__picture">
                {% endif %}
                <ul class="user__info">
                    <li class="user__info__city"><i class="las la-map-marker-alt"></i> {{ profile.region }} / {{ profile.department }} / {{ profile.city }}</li>
                    <li class="user__info__username"><i class="las la-user-tie"></i> {{ profile.username }}</li>
                </ul>
            </aside>
            <p class="user__propose">Je propose :
                {% for propose in profile.propose %}
                    {{ propose }}
                {% endfor %}
            </p>
            <p class="user__research">Je propose :
                {% for research in profile.research %}
                    {{ research }}
                {% endfor %}
            </p>
        </a>
    </article>
{% endfor %}
{# <div class="pagination">
    {{ knp_pagination_render(profiles) }}
</div> #}
{# On crée des variables personnalisées #}
{# {% set queryParams = app.request.query.all %}
{% set queryString = queryParams|filter((v, k) => k != "page" and k != "ajax")|url_encode %}

<ul class="pagination">
    <li class="{{ (page == 1) ? 'disabled' : '' }}">
        <a href="?page=1&{{queryString}}">
            <i class="las la-step-backward"></i>
        </a>
    </li>    
    <li class="{{ (page == 1) ? 'disabled' : '' }}">
        <a href="{{ (page > 1) ? '?page=' ~ (page - 1) : '' }}&{{queryString}}">
            <i class="las la-angle-left"></i>
        </a>
    </li>
    {% set pages = (total / limit)|round(0, 'ceil') %}
    {% for item in 1..pages %}
        <li class="{{ (page == item) ? 'active' : '' }}">
            <a href="?page={{ item }}&{{queryString}}">{{ item }}</a>
        </li>
    {% endfor %}
    <li class="{{ (page == pages) ? 'disabled' : '' }}">
        <a href="{{ (page < pages) ? '?page=' ~ (page + 1) : '' }}&{{queryString}}">
            <i class="las la-angle-right"></i>
        </a>
    </li>
    <li class="{{ (page == pages) ? 'disabled' : '' }}">
        <a href="?page={{ pages }}&{{queryString}}">
            <i class="las la-step-forward"></i>
        </a>
    </li>
</ul> #}
