{% extends 'base.html.twig' %}

{% block title %}Communauté troc service{% endblock %}
{% set queryParams = app.request.query.all %}
{% set queryString = queryParams|filter((v, k) => k != "page" and k != "ajax")|url_encode %}
{% block body %}
    <main class="search">
        <h1>Liste des membres de la communauté</h1>
        <section class="search__form">
            <h2>Il y a actuellement {{ profilesAll|length }} membres dans la communauté</h2>
            {{ form_start(form) }}
                <ul>
                    <li>{{ form_row(form.username) }}</li>
                    <li>{{ form_row(form.address, {id: 'search_address_profile'}) }}</li>
                    <li>{{ form_row(form.distance) }}</li>
                    <li><button>Rechercher</button></li>
                </ul>    
            {{ form_end(form) }}
        </section>
        <div class="search__links">
            <p>resultat de la recherche : {{ profiles|length }} profile{{ profiles|length > 1 ? 's'}} trouvé{{ profiles|length > 1 ? 's' }}</p>
            <div>
                <a href="{{ path('announcement_search') }}" aria-selected={{ app.request.attributes.get('_route') == 'announcement_search' ? "true" : "false" }}>annonces</a>
                <a href="{{ path('profile_community') }}" aria-selected={{ app.request.attributes.get('_route') == 'profile_community' ? "true" : "false" }}>membres</a>
            </div>
        </div>
        <section class="search__content">
            <section class="search__categories">
                <h3>Catégories</h3>
                {% for category in categories %}
                    <p><a href="{{ path('profile_community') }}?category={{ category.id }} ">{{ category.name }}</a></p>
                    {% for subCategory in category.subCategories %}
                        {% if queryParams and queryParams.subCategories is defined %}
                            {% set checked = (subCategory.id in queryParams.subCategories) ? "checked" : "" %}
                        {% else %}
                            {% set checked = "" %}
                        {% endif %}
                        <ul>
                            <li><a href="{{ path('profile_community') }}?subCategory={{ subCategory.id }}">{{subCategory.name}} </a></li>
                        </ul>
                    {% endfor %}                
                {% endfor %}
                <input type="hidden" name="page" value="{{page}}">
            </section>

            <div class="search__users" id="content">
                {% include "partials/_card-users.html.twig" %}
            </div>
        </section>
    </main>
{% endblock %}

{# 
<div class="community__list__card__right">
    <div class="community__list__card__right__top">
        <p class="community__list__card__right__top__username"><i class="las la-user-tie la-lg"></i> {{ profile.username }}</p>
        <p class="community__list__card__right__top__city"><i class="las la-map-marker-alt la-lg"></i>{{ profile.region ~ '/' ~ profile.department ~ '/' ~ profile.city }}</p>
    </div>
    <div class="community__list__card__right__content">
        <p class="community__list__card__right__content__propose">
            <strong>Je recherche : </strong>
            {% if profile.propose %}
                {{ profile.propose }}
            {% else %}
                rien pour le moment    
            {% endif %}
        </p>
        <p class="community__list__card__right__content__research">
            <strong>Je propose : </strong>
            {% if profile.research %}
                {{ profile.research }}
            {% else %}
                rien pour le moment    
            {% endif %}
            <button class="community__list__card__right__content__btn">Voir le profil</button>
        </p>
    </div>
</div> #}