{% extends 'base.html.twig' %}

{% block title %}Communauté troc service{% endblock %}

{% block body %}
    <main class="community">
        <h1 class="community__title">Communauté</h1>
        <section class="community__form">
            {{ form_start(form) }}
                <table>
                    <tr>
                        <td>{{ form_row(form.username) }}</td>
                        <td>{{ form_row(form.address, {id: 'search_address_profile'}) }}</td>
                        <td>{{ form_row(form.distance) }}</td>
                        <td><button class="community__form__button">Rechercher</button></td>
                    </tr>
                </table>
            {{ form_end(form) }}
        </section>
        <h2 class="community__subtitle">Il y a actuellement {{ profiles|length }} membres dans la communautés</h2>
        <section class="community__list">
            {% for profile in profiles %}
                <article class="user">
                    <aside class="user__infos">
                        {% if profile.filename %}
                            <img src={{ vich_uploader_asset(profile, 'imageFile')}} alt="image de profil {{ profile.username }}" class="user__info__picture">
                        {% else %}
                            <img src="{{ asset('images/profil.jpeg') }}" alt="image de profil vide" class="user__info__picture">
                        {% endif %}
                        <ul class="user__info">
                            <li class="user__info__city"><i class="las la-map-marker-alt"></i> {{ profile.region }} / {{ profile.department }} / {{ profile.city }}</li>
                            <li class="user__info__username"><i class="las la-user-tie"></i> {{ profile.username }}</li>
                        </ul>
                    </aside>
                    <p class="user__propose">Je propose : {{ profile.propose }}</p>
                    <p class="user__research">Je recherche : {{ profile.research }}</p>
                </article>
            {% endfor %}
        </section>
    </main>
{% endblock %}

{# 

<div class="community__list__card__right">
    <div class="community__list__card__right__top">
        <p class="community__list__card__right__top__username"><i class="las la-user-tie la-lg"></i> {{ profile.username }}</p>
        <p class="community__list__card__right__top__city"><i class="las la-map-marker-alt la-lg"></i>{{ profile.region ~ '/' ~ profile.department ~ '/' ~ profile.city }}</p>
    </div>
    <div class="community__list__card__right__content">
        <p class="community__list__card__right__content__propose">
            <strong>Je recherche : </strong>
            {% if profile.propose %}
                {{ profile.propose }}
            {% else %}
                rien pour le moment    
            {% endif %}
        </p>
        <p class="community__list__card__right__content__research">
            <strong>Je propose : </strong>
            {% if profile.research %}
                {{ profile.research }}
            {% else %}
                rien pour le moment    
            {% endif %}
            <button class="community__list__card__right__content__btn">Voir le profil</button>
        </p>
    </div>
</div> #}