{% extends 'base.html.twig' %}

{% block title %}Page de profil de {{ app.user.profile.firstname ~ ' ' ~ app.user.profile.lastname}}{% endblock %}

{% block body %}
    <main class="community">
        <h1 class="community__title">Communauté</h1>
        <section class="community__form">
            {{ form_start(form) }}
                <table>
                    <tr>
                        <td>{{ form_row(form.address, {id: 'search_address_profile'}) }}</td>
                        <td>{{ form_row(form.distance) }}</td>
                        <td><button class="community__form__button">Rechercher</button></td>
                    </tr>
                </table>
            {{ form_end(form) }}
        </section>
        <section class="community__list">
            {% for profile in profiles %}
                <article class="community__list__card">
                    <div class="community__list__card__top">
                        {% if profile.filename %}
                            <img src={{ vich_uploader_asset(profile, 'imageFile')}} alt="image de profil {{ profile.username }}" class="community__list__card__top__img">
                        {% else %}
                            <img src="{{ asset('images/profil.jpeg') }}" alt="image de profil vide" class="community__list__card__top__img">
                        {% endif %}
                        <div>
                            <p class="community__list__card__top__username"><i class="las la-user-tie la-lg"></i> {{ profile.username }}</p>
                            <p class="community__list__card__top__city"><i class="las la-map-marker-alt la-lg"></i>{{ profile.region ~ '/' ~ profile.department ~ '/' ~ profile.city }}</p>
                        </div>
                    </div>
                    <div class="community__list__card__bottom">
                        <p class="community__list__card__bottom__propose">
                            <strong>Je recherche : </strong>
                            {% if profile.propose %}
                                {{ profile.propose }}
                            {% else %}
                                rien pour le moment    
                            {% endif %}
                        </p>
                        <p class="community__list__card__bottom__research">
                            <strong>Je propose : </strong>
                            {% if profile.research %}
                                {{ profile.research }}
                            {% else %}
                                rien pour le moment    
                            {% endif %}
                            <button class="community__list__card__bottom__btn"><a href="{{ path('message_contact', { 'username': profile.username}) }}">contacter</a></button>
                        </p>
                    </div>
                </article>
            {% endfor %}
        </section>
    </main>
{% endblock %}

{# 

<div class="community__list__card__right">
    <div class="community__list__card__right__top">
        <p class="community__list__card__right__top__username"><i class="las la-user-tie la-lg"></i> {{ profile.username }}</p>
        <p class="community__list__card__right__top__city"><i class="las la-map-marker-alt la-lg"></i>{{ profile.region ~ '/' ~ profile.department ~ '/' ~ profile.city }}</p>
    </div>
    <div class="community__list__card__right__content">
        <p class="community__list__card__right__content__propose">
            <strong>Je recherche : </strong>
            {% if profile.propose %}
                {{ profile.propose }}
            {% else %}
                rien pour le moment    
            {% endif %}
        </p>
        <p class="community__list__card__right__content__research">
            <strong>Je propose : </strong>
            {% if profile.research %}
                {{ profile.research }}
            {% else %}
                rien pour le moment    
            {% endif %}
            <button class="community__list__card__right__content__btn">Voir le profil</button>
        </p>
    </div>
</div> #}