{% extends 'base.html.twig' %}

{% block title %}Profil de {{ app.user.profile.firstname ~ ' ' ~ app.user.profile.lastname}}{% endblock %}

{% block body %}
    <main class="me">
        <h1 class="me__title">Page de profil de {{ app.user.profile.firstname ~ ' ' ~ app.user.profile.lastname}}</h1>
        <section class="me__user">
            <a href="{{ path('profile_avatar', { 'username': app.user.profile.username})}}">
                {% if app.user.profile.filename %}
                    <img src={{ vich_uploader_asset(app.user.profile, 'imageFile')}} alt="image de profil (avatar)" class="me__user__picture">
                {% else %}
                    <img src="{{ asset('images/profil.jpeg') }}" alt="image de profil (avatar)" class="me__user__picture">
                {% endif %}
            </a>
            <div class="me__user__info">
            <h3 class="me__user__info__title">Civilité</h3>
                <ul class="me__user__info__list">
                    <li class="me__info__list__item">Nom d'utilisateur : {{ app.user.profile.username }}</li>
                    <li class="me__info__list__item">Genre : {{ app.user.profile.gender }}</li>
                    <li class="me__info__list__item">Prénom : {{ app.user.profile.firstname }}</li>
                    <li class="me__info__list__item">Nom : {{ app.user.profile.lastname }}</li>
                    <li class="me__info__list__item">Date da naissances : {{ app.user.profile.birthday|date('d/m/Y') }}</li>
                </ul>
                <button class="me__user__info__button"><a href="{{ path('profile_update_civility', { 'id': app.user.profile.id })}}" class="me__user__info__button__link">Modifier</a></button>
            </div>
            <div class="me__user__info">
                <h3 class="me__user__info__title">Coordonnées</h3>
                <ul class="me__user__info__list">
                    <li class="me__info__list__item">Numéro et rue : {{ app.user.profile.street }}</li>
                    <li class="me__info__list__item">Code Postal {{ app.user.profile.zipcode }}</li>
                    <li class="me__info__list__item">Commmune : {{ app.user.profile.city }}</li>
                    <li class="me__info__list__item">Département {{ app.user.profile.department }}</li>
                    <li class="me__info__list__item">Region : {{ app.user.profile.region }}</li>
                </ul>
                <button class="me__user__info__button"><a href="{{ path('profile_update_address', { 'id': app.user.profile.id })}}" class="me__user__info__button__link">Modifier</a></button>
            </div>
            <div class="me__user__info">
                <h3 class="me__user__info__title">Services</h3>
                <p class="me__user__info__text">
                    Je propose :
                    {% for propose in app.user.profile.propose %}
                        {{ propose }}{{loop.last ? '.' : ','}}
                    {% endfor %}
                </p>
                <p class="me__user__info__text">
                    Je recherche :
                    {% for research in app.user.profile.research %}
                        {{ research }}{{loop.last ? '.' : ','}}
                    {% endfor %}
                </p>
                <button class="me__user__info__button"><a href="{{ path('profile_update_propose', { 'id': app.user.profile.id })}}" class="me__user__info__button__link">Modifier</a></button>
            </div>
        </section>
        <section class="me__links">
            <a href="{{ path('announcement_me') }}" class="me__link">
                <h3 class="me__link__name">Annonces</h3>
                <p class="me__link__text">
                    Vous avez actuellement {{ app.user.profile.announcements|length }} 
                    annonce{{ app.user.profile.announcements|length <= 1 ? "" : "s" }} 
                    en ligne{{ app.user.profile.announcements|length <= 1 ? "" : "s" }}. <br />
                    Gérer et publier vos annonces.
                </p>
            </a>
            <a href="{{ path('message_list') }}" class="me__link">
                <h3 class="me__link__name">Messagerie</h3>
                <p class="me__link__text">
                    Accéder à votre messagerie personnel
                </p>
            </a>
            <a href="{{ path('announcement_favorite') }}" class="me__link">
                <h3 class="me__link__name">Favoris</h3>
                <p class="me__link__text">
                    Vous avez actuellement {{ app.user.profile.favorites|length }} 
                    annonce{{ app.user.profile.announcements|length <= 1 ? "" : "s" }} 
                    en favori{{ app.user.profile.favorites|length <= 1 ? "" : "s" }}. <br />
                    Accéder à vos favoris.
                </p>
            </a>
            <a href="{{ path('change_password') }}" class="me__link">
                <h3 class="me__link__name">Sécurité</h3>
                <p class="me__link__text">Modifier votre mot de passe</p>
            </a>
            <a href="{{ path('profile_data') }}" class="me__link">
                <h3 class="me__link__name">RGPD</h3>
                <p class="me__link__text">Consulter et télécharger vos données perssonnelles</p>
            </a>
            <a href="{{ path('profile_update', { 'id': app.user.profile.id })}}" class="me__link">
                <h3 class="me__link__name">Paramètres</h3>
                <p class="me__link__text">Modifier vos informations</p>
            </a>
            <a href="{{ path('app_logout') }}" class="me__link">
                <h3 class="me__link__name">Deconnexion</h3>
            </a>
            <div class="me__link">
                <h3 class="me__link__name">Aide</h3>
            </div>
        </section>
    </main>
{% endblock %}
{# <section class="me__top">
            <div class="me__top__left">
                {% if app.user.profile.filename %}
                    <img src={{ vich_uploader_asset(app.user.profile, 'imageFile')}} alt="image de profil (avatar)" class="me__top__left__img">
                {% else %}
                    <img src="{{ asset('images/profil.jpeg') }}" alt="image de profil (avatar)" class="me__top__img">
                {% endif %}
            </div>
            <div class="me__top__right">
                <p class="me__top__right__text">Nom d'utilisateur : {{ app.user.profile.username }}</p>
                <p class="me__top__right__text">Prénom : {{ app.user.profile.firstname }}</p>
                <p class="me__top__right__text">Nom : {{ app.user.profile.lastname }}</p>
                {% if app.user.profile.birthday %}
                    <p class="me__top__right__text">Date de naissance : {{ app.user.profile.birthday|date('d/m/Y') }}</p>
                {% endif %}
                <p class="me__top__right__text">Rue : {{ app.user.profile.street }}</p>
                <p class="me__top__right__text">Code Postal : {{ app.user.profile.zipcode }}</p>
                <p class="me__top__right__text">Commune : {{ app.user.profile.city }}</p>
                <p class="me__top__right__text">Départment : {{ app.user.profile.department }}</p>
                <p class="me__top__right__text">Région : {{ app.user.profile.region }}</p>
            </div>
        </section>
        <section class="me__content">
            <div class="me__content__link">
                <h2 class="me__content__block__title">Annonces</h2>
                <p class="me__content__block__content">Gérer mes annonces déposées</p>
                <a href="{{ path('announcement_me') }}" class="me__content__block__link">Voir mes annonces</a>
            </div>
            <div class="me__content__block">
                <h2 class="me__content__block__title">Messagerie</h2>
                <p class="me__content__block__content">Accéder à ma messagerie</p>
                <a href="{{ path('message_list') }}" class="me__content__block__link">Voir ma messagerie</a>
            </div>
            <div class="me__content__block">
                <h2 class="me__content__block__title">Favoris</h2>
                <p class="me__content__block__content">Voir mes favoris</p>
                <a href="{{ path('announcement_favorite') }}" class="me__content__block__link">Voir mes favoris</a>
            </div>
            <div class="me__content__block">
                <h2 class="me__content__block__title">Profile</h2>
                <p class="me__content__block__content">Modifier mes informations personnelles</p>
                <a href="{{ path('profile_update', { 'id': app.user.profile.id }) }}" class="me__content__block__link">Modifier mon profile</a>
            </div>
            <div class="me__content__block">
            
            </div>
            <div class="me__content__block">
            
            </div>
        </section> #}