{% extends 'base.html.twig' %}

{% block title %}Vue du profil de {{ profile.username }}{% endblock %}
{% block metaTag %}
    <meta name="description" content="Page permettant de visualiser le profile de {{ profile.username }} afin de voir les services qu'ils proposent ainsi que c'est annonces">
    <meta name="keywords" content="échange, services">
{% endblock %}
{% block body %}
<main class="profile">
    <button class="button__return"><i class="las la-arrow-left"></i> <a href="{{  app.request.headers.get('referer')}}" title="retour à la page précédente">retour</a></button>
    <h1>Profile de {{ profile.username }}</h1>
    <section class="profile__user">
        {% if profile.filename %}
            <img src={{ vich_uploader_asset(profile, 'imageFile')}} alt="image de profil {{ profile.username }}" class="profile__user__picture">
        {% else %}
            <img src="{{ asset('images/profil.jpeg') }}" alt="image de profil vide" class="profile__user__picture">
        {% endif %}
        <ul>
            <li><i class="las la-user-alt la-lg"></i> {{ profile.username }}</li>
            <li><i class="las la-map-marker-alt la-lg"></i> {{ profile.region ~ ' / ' ~ profile.department ~ ' / ' ~ profile.city }}</li>
            <li><i class="las la-clock la-lg"></i> inscrit le {{ profile.createdAt|date('d/m/Y') }}</li>
        </ul>
    </section>
    <section class="profile__service">
        <ul>
            <li><strong>Je propose :</strong></li>
            {% for propose in profile.propose %}
                <li>{{ propose.name }}</li>
            {% endfor %}
        </ul>
        <ul>
            <li><strong>Je recherche :</strong></li>
            {% for research in profile.research %}
                <li><i class="las la-search"></i> {{ research.name }}</li>
            {% endfor %}
        </ul>
    </section>
    <button class="profile__button"><a href="{{ path('message_contact', {'username': profile.username }) }}" class="profile__user__button__link">Me contacter</a></button>
    <section class="profile__announces">
        <h2>Mes annonces</h2>
        {% if profile.announcements|length == 0 %}
            <p class="profile__announce__text">Pas d'annonce pour le moment.</p>
        {% else %}
                <p class="profile__announce__text">{{ profile.announcements|length }} annonces en ligne</p>
                {% set announces = profile.announcements %}
                {% include "partials/_card-announement.html.twig" %}
        {% endif %}
    </section>
    
</main>
{% endblock %}
