<footer class="footer">
    <a href="{{ path('mention') }}" class="footer__link">Mentions legales</a>
    <a href="{{ path('confidentiality') }}" class="footer__link">Politiques de confidentialités</a>
    <a href="{{ path('confidentiality') }}" class="footer__link">Plan du site</a>
    <a href="{{ path('confidentiality') }}" class="footer__link">FAQ</a>
    <a href="{{ path('confidentiality') }}" class="footer__link">Conditions d'utilisation</a>
    <p class="footer__text"> <i class="lar la-copyright"></i> 2022 Troc-service.fr - Frédéric CAFFIER</p>
</footer>