<nav class="admin__nav">
    <a href="{{ path('admin_dashboard') }}" class="admin__nav__link">Tableau de bord</a>
    <a href="{{ path('admin_category_list') }}" class="admin__nav__link">Catégories</a>
    <a href="{{ path('admin_sub_category_list') }}" class="admin__nav__link">Sous Catégories</a>
    <a href="{{ path('admin_region_list') }}" class="admin__nav__link">Regions</a>
    <a href="{{ path('admin_department_list') }}" class="admin__nav__link">Départements</a>
</nav>