<nav class="admin__nav">
    <i class="las la-window-close la-lg" id="admin-close"></i>
    <a href="{{ path('admin_dashboard') }}">Tableau de bord</a>
    <a href="{{ path('admin_announcement_list') }}">Toutes les annonces</a>
    <a href="{{ path('admin_announcement_online') }}">Annonces en lignes</a>
    <a href="{{ path('admin_announcement_wait') }}">Annonces en attentes</a>
    <a href="{{ path('admin_category_list') }}">Catégories</a>
    <a href="{{ path('admin_sub_category_list') }}">Sous Catégories</a>
</nav>