{% extends 'base.html.twig' %}

{% block title %}Troc service accueil !{% endblock %}

{% block metaTag %}
    <meta name="description" content="Application permettant la mise en relation dans le but de s'échanger des services ainsi que des compétences">
    <meta name="keywords" content="échange, services">
{% endblock %}
        

{% block body %}
    <main class="homepage">
        <h1><img src="{{ asset('images/logo/logo-test3.png') }}" alt="logo troc service" class="homepage__img"></h1>
        <section class="presentation">
            <p>
                Troc Services est une application de mise en relation spécialisé dans l'échange de
                services et le partage de connaissances ! <br/>
                Echanger vos services ou partager cos compétences avec les autres membres de la communautés ! <br/>
                <a href="#" title="lien vers la page d'information">plus d'informations.</a>
            </p>
            {% if app.user == null %}
                <button><a href="{{ path('create_account') }}" title="lien vers la page de création de compte">S'inscrire</a></button>
            {% endif %}
        </section>
        
        <section class="users">
            <h2>Dernièrs membres inscrits</h2>
            <div id="carousel2">
                {% include "partials/_card-users.html.twig" %}
            </div>
            <button class="homepage__button">
                <a href="{{ path('profile_community') }}"><i class="las la-search"></i> Rechercher un membre de la communauté</a>
            </button>
        </section>

        <section class="number">
            <div class="number__members">
                <p>Actuellement</p>
                <p class="number__quantity">{{ profiles|length }}</p>
                <p>membre{{ profiles|length > 1 ? 's' : '' }} inscrit{{ profiles|length > 1 ? 's' : '' }}</p>
            </div>
            <div class="number__announcements">
                <p>Actuellement</p>
                <p class="number__quantity">{{ announces|length }}</p>
                <p>annonce{{ announces|length > 1 ? 's' : '' }} en ligne{{ announces|length > 1 ? 's' : '' }}</p>
            </div>
        </section>

        <section class="announcements">
            <h2>Dernières annonces publiées</h2>
            {% include "partials/_card-announement.html.twig" %}
        </section>

        <button class="homepage__button">
            <a href="{{ path('announcement_search') }}"><i class="las la-search la-lg"></i> Rechercher une annonce</a>
        </button>

        {# <h2 class="homepage__subtitle">Listes des catégories</h2> #}
        <section class="categories">
            {% for category in categories %}
                <article id="homepage-category" data-filename={{ category.filename ? category.filename : '' }}>
                    <a href="{{ path('announcement_search') }}?category={{ category.id }} ">{{ category.name }}</a>
                    <ul>
                        {% for subCategory in category.subCategories %}
                            <li><a href="{{ path('announcement_search') }}?subCategory={{ subCategory.id }}">{{ subCategory.name }}</a></li>
                        {% endfor %}
                    </ul>
                </article>
            {% endfor %}
        </section>

        <section class="info">
            <article>
                <h3>Créer Votre profil</h3>
                <p>Inscrivez-vous et indiquez les servives que vous recherchez et ceux que vous proposez.</p>
                <a href="{{ path('create_account') }}">S'incrire</a>
            </article>
            <article class="homepage__info">
                <h3>Publiez vos annonces</h3>
                <p>Créez votre annonce pour échanger et troquer des services et des compétences</p>
                <a href="{{ path('announcement_add') }}">Ajouter une annonce</a>
            </article>
            <article class="homepage__info">
                <h3>Mise en relation</h3>
                <p>Contactez les membres de votre département ou votre ville grâce à la messagerie interne pour vous rencontrer.</p>
                <a href="{{ path('profile_community') }}">Rechercher</a>
            </article>
        </section>

    </main>
{% endblock %}