{% extends 'base.html.twig' %}

{% block title %}Listes des annonces{% endblock %}
{% set queryParams = app.request.query.all %}
{% set queryString = queryParams|filter((v, k) => k != "page" and k != "ajax")|url_encode %}
{% block body %}
<main class="search">
    <h1 class="search__title">Liste des annonces</h1>
    <section class="search__buttons">
        <button class="search__buttons__item">
            <a href="{{ path('announcement_list') }}">annonces</a>
        </button>
        <button class="search__buttons__item">
            <a href="{{ path('profile_community') }}">membres</a>
        </button>
    </section>
    <section class="search__form">
        {{ form_start(form) }}
            <ul class="search__form__list">
                <li class="search__form__list__item">{{ form_row(form.title) }}</li>
                <li class="search__form__list__item">{{ form_row(form.address, {id: 'search_address'}) }}</li>
                <li class="search__form__list__item">{{ form_row(form.distance) }}</li>
                {# <li class="search__form__list__item">{{ form_row(form.category) }}</li> #}
                <li><button class="search__form__button">Rechercher</button></li>
            </ul>    
        {{ form_end(form) }}
    </section>
    <section class="search__content">
        <div class="search__categories">
            <h2 class="search__categories__title">Catégories</h2>
            {% for category in categories %}
                <p class="search__categories__name"><a href="{{ path('announcement_list') }}?category={{ category.id }} ">{{ category.name }}</a></p>
                {% for subCategory in category.subCategories %}
                    {% if queryParams and queryParams.subCategories is defined %}
                        {% set checked = (subCategory.id in queryParams.subCategories) ? "checked" : "" %}
                    {% else %}
                        {% set checked = "" %}
                    {% endif %}
                        <ul class="search__categories__list">
                            <li class="search__categories__list__item"><a href="{{ path('announcement_list') }}?subCategory={{ subCategory.id }}">{{subCategory.name}} </a></li>
                        </ul>
                    {% endfor %}                
            {% endfor %}
            <input type="hidden" name="page" value="{{page}}">
        </div>
        <div class="search__content__announces" id="content">
            {% include "announcement/_content.html.twig" %}
        </div>
    </section>
</main>
{% endblock %}
