{% extends 'base.html.twig' %}

{% block title %}Modifier une annonce{% endblock %}

{% block body %}
<main class="announcementAdd">
    <h1 class="announcementAdd__title">Modifier une annonces</h1>
    <div class="profileAdd__form">        
        {{ form_start(form) }}
        {{ form_row(form.category) }}
        {{ form_row(form.subCategory) }}
        {{ form_row(form.title) }}
        {{ form_row(form.description) }}
        {{ form_row(form.propose) }}
        {{ form_row(form.address) }}
        {{ form_row(form.pictureFiles) }}
        <input type="submit" value="Valider" class="profileAdd__form__button">
        {{ form_end(form) }}
    </div>
</main>
{% endblock %}
