{% extends 'base.html.twig' %}

{% block title %}Nous contacter !{% endblock %}

{% block body %}
    <main class="contact">
        <h1>Nous contacter</h1>
        {{ form_start(form) }}
            {{ form_row(form.object) }}
            <div class="contact__name">
                {{ form_row(form.firstname) }}
                {{ form_row(form.lastname) }}
            </div>
            {{ form_row(form.email) }}
            {{ form_row(form.message) }}
            <div class="contact__agree">
                {{ form_row(form.agreeTerms, { 'attr': {'class': 'contact__check__authorize'} }) }}
                <p>
                    En soumettant ce formulaire, j'accepteque mes données personnelles soient utilisées pour 
                    me recontacter. Aucun autre traitement ne sera effectué avec mes informations.
                    Pour connaître et exercer vos droits, veuillez consultez la
                    <a href="{{ path('confidentiality') }}" title="vers la politique de confidentialité">Politique de confidentialité.</a>
                </p>
            </div>
            <input type="submit" value="Envoyer">
        {{ form_end(form) }}
    </main>
{% endblock %}
