{% extends 'base.html.twig' %}

{% block title %}Contacter {{ username }}{% endblock %}

{% block body %}
<main class="contactUser">
    <button class="button__return"><i class="las la-arrow-left"></i> <a href="{{  app.request.headers.get('referer')}}" title="retour à la page précédente">retour</a></button>
    <div class="contactUser__form">  
        <h1>Contacter {{ username }}</h1>      
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Valider">
        {{ form_end(form) }}
    </div>
</main>
{% endblock %}
