{% extends 'base.html.twig' %}

{% block title %}Messagere de {{ app.user.profile.username }}!{% endblock %}

{% block body %}
    <main class="message" id="messagerie">
        {% include "message/partials/_nav.html.twig" %}
        <i class="las la-caret-square-right la-lg message__open" id="message-open"></i>
        <section class="message__contents">    
            <h1>Messagerie de {{ app.user.profile.username }}</h1>
            <div class="message__content">
                <h2>Résumer de ta messagerie</h2>
                <p>Vous avez reçus {{ received|length }} message{{ received|length <= 1 ? ' ' : 's'}}</p>
                <p>Vous avez envoyer {{ sender|length }} message{{ sender|length <= 1 ? ' ' : 's'}}</p>
                {# <button class="message__content__button">Voirs mes dossiers</button> #}
                <button class="message__content__button"><a href="{{ path('message_send') }}">Envoyé un message</a></button>
            </div>
        </section>
    </main>
{% endblock %}
