{% extends 'base.html.twig' %}

{% block title %}Messagerie !{% endblock %}

{% block body %}
    <main class="message">
        <nav class="message__nav">
            <a href="{{ path('message_list') }}" class="message__nav__link">Accueil</a>
            <a href="{{ path('message_received') }}" class="message__nav__link">Messages reçus ({{ app.user.profile.received|length }})</a>
            <a href="{{ path('message_sent') }}" class="message__nav__link">Messages Envoyés ({{ app.user.profile.sent|length }})</a>
            <a href="{{ path('message_basket') }}" class="message__nav__link">Corbeille</a>
        </nav>
        <section class="message__content">
            <h1 class="message__content__title">Messagerie de {{ app.user.profile.firstname ~ " " ~ app.user.profile.lastname}}</h1>
            <div class="message__content__block">
                <h2>Résume de la messagerie</h2>
                <p>Reçus: {{ app.user.profile.received|length }}</p>
                <p>Envoyés: {{ app.user.profile.sent|length }}</p>
                <button class="message__content__button">Voirs mes dossiers</button>
                <button class="message__content__button"><a href="{{ path('message_send') }}" class="message__content__button__link">Envoyé un message</a></button>
            </div>
        </section>
    </main>
{% endblock %}
