{% extends 'base.html.twig' %}

{% block title %}Message de {{ app.user.profile.username }} !{% endblock %}

{% block body %}
    <main class="message">
    {% include "message/partials/_nav.html.twig" %}
        <i class="las la-caret-square-right la-lg message__open" id="message-open"></i>
        <section class="message__contents">    
            <h1>Messagerie de {{ app.user.profile.username }}</h1>
            <div class="message__content">
                <h2>{{ message.title }}</h2>
                <p>Message de {{ message.sender.username }}</p>
                <p>Le {{ message.createdAt|date }}</p>
                <p>{{ message.message }}</p>
                <div class="message__buttons">
                    <button><a href="{{ path('message_delete', {id: message.id}) }}"  onClick="return confirm('Confirmez la suppression');">Supprimer</a></button>
                    <button><a href="{{ path('message_contact',{'username': message.sender.username }) }}">Répondre</a></button>
                </div>
            </div>
        </section>
    </main>
{% endblock %}
