{% extends 'base.html.twig' %}

{% block title %}Contacter un autre utilisateur !{% endblock %}

{% block body %}
<main class="contactUser">
    <button class="button__return"><i class="las la-arrow-left"></i> <a href="{{  app.request.headers.get('referer')}}" title="retour à la page précédente">retour</a></button>
    <div class="contactUser__form">
        <h1>Contacter un membre de la communauté</h1>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Valider">
        {{ form_end(form) }}
    </div>
    {# <form action="{{ path('message_ping') }}" method="post">
        <button>ping !</button>
    </form>
    <form action="{{ path('message_ping', {user: app.user.profile.id}) }}" method="post">
        <button>ping !</button>
    </form> #}
</main>
{% endblock %}