{% extends 'base.html.twig' %}

{% block title %}Message envoyés de {{ app.user.profile.username }} !{% endblock %}

{% block body %}
    <main class="message">
        {% include "message/partials/_nav.html.twig" %}
        <i class="las la-caret-square-right la-lg message__open" id="message-open"></i>
        <section class="message__contents">
            <h1 class="message__contents__title">Messagerie de {{ app.user.profile.username}}</h1>

            <div class="message__content">
                <h2 class="message__content__title">Messages envoyés</h2>
                <p class="message__content__received">Vous avez envoyés: {{ app.user.profile.sent|length }} message{{ app.user.profile.sent|length > 1 ? "s" : "" }}</p>
                <table class="message__table">
                    <thead class="message__table__thead">
                        <tr class="message__table__thead__row">
                            <th class="message__table__thead__username">À</th>
                            <th class="message__table__thead__subject">Sujet</th>
                            <th class="message__table__thead__date">Date</th>
                            <th class="message__table__thead__actions">Actions</th>
                        </tr>
                    </thead>
                    <tbody class="message__table__body">
                        {% for message in app.user.profile.sent %}
                            <tr class="message__table__body__row">
                                <td class="message__table__tbody__username">{{ message.recipient.username }}</td>
                                <td class="message__table__tbody__subject">{{ message.title }}</td>
                                <td class="message__table__tbody__date">{{ message.createdAt|date('d-m-Y') }}</td>
                                <td class="message__table__tbody__actions"><a href="{{ path('message_read', {id: message.id}) }}"><i class="lab la-readme"></i></a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {# <button class="message__content__button">Voirs mes dossiers</button>
                <button class="message__content__button"><a href="{{ path('message_send') }}" class="message__content__button__link">Envoyé un message</a></button> #}
            </div>
        </section>
    </main>

{% endblock %}
