{% extends 'base.html.twig' %}

{% block title %}Message envoyés de {{ app.user.profile.username }} !{% endblock %}

{% block body %}
    <main class="message">
        {% include "message/partials/_nav.html.twig" %}
        <i class="las la-caret-square-right la-lg message__open" id="message-open"></i>
        <section class="message__contents">
            <h1 class="message__contents__title">Messagerie de {{ app.user.profile.username}}</h1>

            <div class="message__content">
                <h2>Messages envoyés</h2>
                <p>Vous avez envoyés: {{ messages|length }} message{{ messages|length > 1 ? "s" : "" }}</p>
                <table>
                    <thead>
                        <tr>
                            <th class="message__username">À</th>
                            <th class="message__subject">Sujet</th>
                            <th class="message__date">Date</th>
                            <th class="message__actions">Actions</th>
                        </tr>
                    </thead>
                    <tbody class="message__table__body">
                        {% for message in messages %}
                            <tr class="message__table__body__row">
                                <td class="message__username">{{ message.recipient.username }}</td>
                                <td class="message__subject">{{ message.title }}</td>
                                <td class="message__date">{{ message.createdAt|date('d-m-Y') }}</td>
                                <td class="message__actions">
                                    <a href="{{ path('message_read', {id: message.id}) }}"><i class="lab la-readme la-lg"></i></a>
                                    <a href="{{ path('message_delete', {id: message.id}) }}"  onClick="return confirm('Confirmez la suppression');"><i class="las la-trash-alt la-lg"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {# <button class="message__content__button">Voirs mes dossiers</button>
                <button class="message__content__button"><a href="{{ path('message_send') }}" class="message__content__button__link">Envoyé un message</a></button> #}
            </div>
        </section>
    </main>

{% endblock %}
