{% extends 'base.html.twig' %}

{% block title %}Administration Listes des départements !{% endblock %}

{% block body %}
<main class="admin">
    {% include "admin/partials/_nav.html.twig" %}
    <section class="admin__content">
        <h1 class="admin__content__title">Listes des département</h1>
        <button><a href="{{ path('admin_department_add') }}">Ajouter un département</a></button>    
            <table>
                <thead>
                    <tr>
                        <th>Numéro</th>
                        <th>Département</th>
                        <th>Région</th>
                        <th>modifier</th>
                        <th>supprimer</th>
                    </tr>
                </thead>
                <tbody>
                    {% for department in departments %}
                        <tr>
                            <td>{{ department.number < 10 ? "0" : ""}}{{ department.number }}</td>
                            <td>{{ department.name }}</td>
                            <td>{{ department.region.name }}</td>
                            <td>
                                <a href="{{ path('admin_department_update', {'id': department.id}) }}">
                                    <i class="las la-edit la-2x"></i>
                                </a>
                            </td>
                            <td>
                                <a href="{{ path('admin_department_delete', {'id': department.id}) }}"  onClick="return confirm('Confirmez la suppression');"><i class="las la-trash la-2x"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
    </section>
</main>
{% endblock %}